nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    display: block;
    padding: 10px 20px;
    color: var(--black);
    font-size: 1.7rem;
    height: 40px;
    line-height: 40px;
}