.project-grid {
    display: grid;
    grid-template-areas:
        'a b c'
        'a d e';
    gap: 1px;
    background-color: var(--gray);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.project-grid > div {
    background-color: var(--white);
}

.project-grid>.info {
    grid-area: a;
    position: relative;
}

.project-grid .content {
    padding: 0 20px;
    position: absolute;
    bottom: 100px;
}

.project-grid > .project {
    overflow: hidden;
}

.project-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-grid>.p1 {
    grid-area: b;
}

.project-grid>.p2 {
    grid-area: c;
}

.project-grid>.p3 {
    grid-area: d;
}

.project-grid>.p4 {
    grid-area: e;
}