.split-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    background-color: var(--gray);
}

.split-3 > div {
    background-color: var(--white);
    overflow: hidden;
}

.split-3 > div.champagne {
    background-color: var(--champagne);
}

.split-3 > div.text {
    padding: 20px;
}

.split-3 > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}