---
layout: default
---

<section class="slide full-img">
    <div class="foreground">
        <h1><span>CREATING THE <span class="primary">FUTURE</span> @ Mountlake Terrace</span></h1>
        <p class="description">Girls Who Code provides a space for students of all skill levels to learn and practice coding</p>
    </div>
    <img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Classroom photo" />
</section>
<section class="slide split-3">
    <div class="text">
        <h1>Aerospace</h1>
        <p class="medium-text">Learn the principles of engineering then advance to understanding the physics and design of aircraft.</p>
    </div>
    <div>
        <img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Biotech image">
    </div>
    <div class="text">
        <h1>Comp-Sci</h1>
        <p class="medium-text">Code websites (like this) and make video games.</p>
    </div>
    <div>
        <img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Aerospace image">
    </div>
    <div class="text champagne">
        <h1>Biotech</h1>
        <p class="medium-text">Understand the science and use real-world equipment and techniques to study DNA and bacteria.</p>
    </div>
    <div>
        <img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Comp-Sci image">
    </div>
</section>
<section class="slide project-grid">
    <div class="info">
        <div class="content">
            <h1>Projects</h1>
            <p class="medium-text">STEM students at Terrace apply the lessons from the classroom to tackling real world problems.</p>
        </div>
    </div>
    <div class="p1 project"><img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Project 1 image"></div>
    <div class="p2 project"><img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Project 2 image"></div>
    <div class="p3 project"><img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Project 3 image"></div>
    <div class="p4 project"><img src="{{ '/assets/images/girls-who-code/20231108_142624.jpg' | relative_url  }}" alt="Project 4 image"></div>
</section>

{{ content }}