@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --red: #EB4511;
    --champagne: #EEE0CB;
    --white: #EEF0F2;
    --gray: #5C6B73;
    --black: #141204;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--black);
}

h1, h2, h3, h4, h5, h6, p, a, .byline {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 4rem;
    margin: 20px 0;
}

p, a {
    font-size: 1.2rem;
}

.byline {
    font-size: 2rem;
    margin: 5px 0;
    color: var(--gray);
}

.medium-text {
    font-size: 2.2rem;
}

p {
    max-width: 800px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    min-height: 100vh;
    height: min-content;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 60px;
}

.slide {
    width: 100%;
    height: calc(100vh - 60px);
    border-bottom: 1px solid var(--gray);
}

.highlight {
    background-color: var(--champagne);
}

.primary {
    color: var(--red)
}

.white {
    color: var(--white);
}
