@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --red: #EB4511;
    --champagne: #EEE0CB;
    --white: #EEF0F2;
    --gray: #5C6B73;
    --black: #141204;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3rem;
}

p, a {
    font-size: 1.2rem;
}

p {
    max-width: 800px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    min-height: 100vh;
    height: min-content;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 60px;
}

.slide {
    width: 100%;
    height: calc(100vh - 60px);
}

.highlight {
    background-color: var(--champagne);
}

.primary {
    color: var(--red)
}

.white {
    color: var(--white);
}
