@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

:root {
    --red: #F2545B;
    --dark-red: #A93F55;
    --brown: #8C5E58;
    --white: #F3F7F0;
    --light-gray: #bdc4c4;
    --black: #19323C;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Fragment Mono', monospace;
}

p, a {
    font-size: 1.2rem;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
    min-height: 100vh;
    height: min-content;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 60px;
}

.slide {
    width: 100%;
    height: calc(100vh - 60px);
}

.highlight {
    background-color: var(--dark-red);
}

.primary {
    color: var(--red)
}

.white {
    color: var(--white);
}